@CHARSET "ISO-8859-1";

@font-face {
    font-family: 'coolvetica';
    src: url('./fonts/coolvetica rg.eot#coolvetica') format('truetype');
}

body
{
	font-family: 'coolvetica', 'Arial Black', Arial;
}

.titre
{
	font-family: 'coolvetica', 'Arial Black', Arial;
	font-size: 5em;
	color: white;
	font-weight: bold;
	
	text-align: center;
	margin-top: 0.5em;
	margin-bottom: 0.20em;
	
	text-shadow: 2px 2px #000000;
	
}

.accroche
{
	font-size: large;
	font-style: italic;
	font-weight: bold;
	color: white;
	
	text-align: center;
	text-shadow: 2px 2px #000000;
	margin-bottom: 3em;
}

.accueil
{
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.footer
{
	color: white;
	font-weight: bold;
	
	text-align: center;
	text-shadow: 2px 2px #000000;
	
	position: fixed;
	bottom: 0;
	height: 1em;
	width: 100%;
}

.lien
{
	text-decoration: none;
	color: white;
}

a:hover
{
	color: red;
}

.listeformulaire{
	
	padding-top: 5em;
	padding-bottom: 5em;
	
	background-color: #40A497;
	opacity:0.5;
	
	
	width: 40%;
	margin:auto;
} 

.tablelogin{
	margin:auto;
	font-size: x-large;
}


input[type=submit] {
	border: 2px solid white;
	width: 150px;
	height: 60px;
	float: right;
	font-weight: bold;
	color: white;
	background-color: black;
}

input {
	border: 1px solid black;
	width: 300px;
	height: 35px;
	font-size: large;
	
}
